@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Gabarito:wght@400..900&family=Lexend+Deca:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.left-container {
    width: 60vw;
    height: 100vh;
    font-family: "Cal Sans", sans-serif;
    transition: background-color 200ms ease, color 200ms ease;
    flex: 1;
}

.dark {
    background-color: rgb(0, 0, 0);
    color: white;
}

.light {
    background-color: rgb(255, 255, 255);
    color: black;
}

.main-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}


.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 5px;
}

.button-container {
    width: 20vw;
    display: flex;
    justify-content: end;
}

.button {
    background-color: #eee;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    height: 1.2em;
    width: 1.2em;
    transition: all 200ms ease;
}

.button:hover {
    background-color: black;
    color: white;
}

.button-close {
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    width: 4em;
    height: 1.2em;
    margin: 5px;
    padding: 5px;
    transition: all 100ms ease-in;
}

.button-close-text {
    font-size: 15px;
    margin-left: 5px;
}

.button-close:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.heading,
.name {
    font-size: 20px;
    margin: 5px;
}

.name {
    margin-left: 60px;
}



.filter-container {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
}

.filter {
    border: none;

}

.contacts-container {

    height: calc(100vh - 100px);
    overflow-y: auto;
    position: relative;
    text-overflow: ellipsis;
    overflow-x: hidden;
    transition: transform 300ms ease, width 300ms ease;
}

.collapsed {
    width: 0vw;
}

.expanded {
    width: 20vw;
}

.contacts-container::-webkit-scrollbar {
    display: none;
}

.button2-container {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 0;

}

@media(max-width: 768px) {

    .heading,
    .name {
        font-size: 40px;
        padding: 5px;
    }
}